@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-text-icon {
  font-size: 26px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #3252df;
}

.most-picked-card {
  /* Add hover effect for the card */
  transition: transform 0.2s ease;
}

.most-picked-card:hover {
  transform: scale(1.05);
}

.most-picked-image {
  /* Add hover effect for the image */
  transition: transform 0.2s ease;
}

.most-picked-image:hover {
  transform: scale(1.1);
}

.most-picked-text {
  /* Add hover effect for the text */
  transition: color 0.2s ease;
}

.most-picked-text:hover {
  color: #ff5733; /* Change the text color on hover */
}

/* .text-gray-900 {
  color: #333333; 
}

header { 
  border-bottom: 1px solid #ccc; 
  width: 100%;
  position: relative;
}

header .navbar {
  height: 80px;
}

header .navbar ul.navbar-nav li.nav-item.active a.nav-link {
  color: #3252df;
}

header .navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #333333;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 1px;
}

header .navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  text-decoration: underline;
}

.text-gray-500 {
  color: #718096;
  font-weight: 300;
} */
