@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-text-icon {
  font-size: 26px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #3252df;
}

.stars {
  position: relative;
  min-width: 200px;
  display: inline-flex;
}

.stars .star {
  position: absolute;
  display: inline-flex;
  mask: url(../src/assets/images/icons/star.svg) no-repeat center left;
}

.stars .star:not(.placeholder) {
  background-color: yellow;
  z-index: 2;
}

.stars .star.placeholder {
  z-index: 1;
  background-color: gray;
}
